.todoitem-container {
  &-none,
  &-open
  {
    color: lightseagreen;
  }

  &-inprogress {
    font-weight: bold;
    color: deeppink;
  }

  &-done {
    color: darkgreen;
  }

  &-closed {
    color: darkgrey;
  }
}