.todoheader {
  &-container {
    position: relative;
    left: 0;
    right: 0;
    height: 1em;
    padding: 1em;
    background-color: #61dafb;
  }

  &-label {
    color: #343267;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    top: 50%;
    display: block;
  }
}